

<div class="content-wrapper">
    <!-- Content -->
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-lg-12 mb-4 order-0">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-6 mb-4">
                        <a href="/BOrder/Index/?namepage=Pending">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h1 class="badge bg-label-primary me-1" style="font-size: 20px;">Đơn chờ duyệt</h1><br />
                                    <h3 id="Pending" class="card-title mb-2 bg-label-warning">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-6 mb-4">
                        <a href="/BOrder/Index/?namepage=Approved">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h1 class="badge bg-label-primary me-1" style="font-size: 20px;">Đơn đã duyệt</h1><br />
                                    <h3 id="Approved" class="card-title mb-2 bg-label-warning">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-6 mb-4">
                        <a href="/BOrder/Index/?namepage=Delivered">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h1 class="badge bg-label-primary me-1" style="font-size: 20px;">Đơn đã giao</h1><br />
                                    <h3 id="Delivered" class="card-title mb-2 bg-label-warning">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-6 mb-4">
                        <a href="/BOrder/Index/?namepage=Refuse">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h1 class="badge bg-label-primary me-1" style="font-size: 20px;">Đơn từ chối</h1><br />
                                    <h3 id="Refuse" class="card-title mb-2 bg-label-warning">0</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->

</div>
<!-- / Layout page -->
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Content/Notify/jquery.min.js"></script>
<script src="~/Content/Notify/notify.min.js"></script>
<link rel="stylesheet" href="~/Content/Notify/notify-metro.css" />
<script>
    $('.HomePage').addClass("active");
    notifyServer();
    function notifyServer() {
        $.ajax({
            url: "/BOrder/notifyServer",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                    $('#Pending').html('');
                    $('#Pending').append(result.Pending);
               
                    $('#Approved').html('');
                    $('#Approved').append(result.Approved);
               
                    $('#Refuse').html('');
                    $('#Refuse').append(result.Refuse);
               
                    $('#Delivered').html('');
                    $('#Delivered').append(result.Delivered);
                
            },
            error: function (errormessage) {
                //$(".login-faild").append("Đăng nhập thất bại")
            }
        });
    }
    setInterval(() => notifyServer(), 1000);
</script>