.home-slider {
	position: relative;
	z-index: 19;
	overflow: hidden
}

@media (max-width: 1199px) {
.home-slider {
	margin-top: 115px
}
}
.home-slider .item {
	position: relative
}
.home-slider .owl-dots {
	width: 30px;
	top: 45%;
	left: auto;
	bottom: 15px
}

@media (max-width: 1199px) {
.home-slider .owl-dots {
	display: none
}
}
.home-slider.owl-carousel .owl-nav .owl-next {
	right: 5% !important;
	background: none !important;
	border: none !important;
	top: 45%
}

@media (min-width: 1800px) {
.home-slider.owl-carousel .owl-nav .owl-next {
	right: 15% !important
}
}
.home-slider.owl-carousel .owl-nav .owl-prev {
	left: 5% !important;
	background: none !important;
	border: none !important;
	top: 45%
}

@media (min-width: 1800px) {
.home-slider.owl-carousel .owl-nav .owl-prev {
	left: 15% !important
}
}
.home-slider.owl-carousel .owl-nav .owl-next:before {
	font-size: 45px;
	color: #fff;
	padding-left: 3px;
	background: transparent;
	border-radius: 100%;
	width: 18px;
	height: 32px;
	line-height: 32px;
	left: -5px
}
.home-slider.owl-carousel .owl-nav .owl-prev:before {
	font-size: 45px;
	padding-right: 2px;
	color: #fff;
	background: transparent;
	border-radius: 100%;
	width: 18px;
	height: 32px;
	line-height: 32px;
	left: -5px
}

.home-slider .item {
	position: relative
}

@media (min-width: 768px) and (max-width: 991px) {
.home-slider .item .img_mobi {
	height: 400px !important
}
}

@media (max-width: 1199px) {
.home-slider .item .img_mobi {
	display: block;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%
}
}

@media (max-width: 1199px) and (max-width: 767px) {
.home-slider .item .img_mobi {
	height: 200px
}
}
.section_tab_product h2 {
	font-size: 1.71429em;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 0 20px 0
}
.section_tab_product .tabs-title {
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden
}
.section_tab_product .tabs-title li {
	width: 140px;
	display: inline-block;
	background: #dadbdb;
	height: 40px;
	line-height: 40px;
	margin-right: 1px
}
.section_tab_product .tabs-title li.current {
	color: #fff;
	background: #898989
}
.section_tab_product .tab-content {
	clear: left
}

@media (min-width: 1200px) {
.section_tab_product .tab-content .products .col-lg-3:nth-child(4n+1) {
	clear: left
}
}

@media (max-width: 1199px) and (min-width: 768px) {
.section_tab_product .products .col-sm-4:nth-child(3n+1) {
	clear: left
}
}

@media (max-width: 767px) {
.section_tab_product .tabs-title li {
	width: 87px
}
}
.list-blogs-link {
	margin-top: 30px
}
.heading {
	display: block;
	position: relative
}
.heading h1, .heading h2, .heading h3 {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	margin: 0;
	color: #e7b45a;
	text-align: center
}

@media (max-width: 767px) {
.heading h1, .heading h2, .heading h3 {
	font-size: 25px
}
}
.heading span {
	font-size: 25px;
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	line-height: normal;
	color: #353434
}
.heading_sale_shock {
	display: block;
	position: relative;
	text-align: center
}

@media (max-width: 1199px) {
.heading_sale_shock {
	margin-top: 20px
}
}
.heading_sale_shock h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-size: 28px;
	font-weight: 900;
	margin-bottom: 30px;
	display: inline-block;
	margin: 0 auto 20px;
	padding: 5px;
	border-radius: 50px
}

@media (max-width: 767px) {
.heading_sale_shock h2 {
	margin-top: 0px
}
}
.heading_sale_shock h2 a {
	line-height: 55px;
	height: 55px;
	z-index: 999;
	position: relative;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	min-width: 430px !important;
	padding: 0 50px;
	border-radius: 30px
}

@media (max-width: 767px) {
.heading_sale_shock h2 a {
	min-width: 100% !important;
	padding: 0 50px;
	height: 50px;
	line-height: 43px
}
}

@media (max-width: 374px) {
.heading_sale_shock h2 a {
	padding: 0 35px
}
}
.heading_sale_shock h2 a img {
	display: inline-block;
	padding-right: 10px;
	margin-bottom: 7px
}

@media (max-width: 374px) {
.heading_sale_shock h2 a img {
	width: 31px;
	margin-bottom: 0px
}
}

@media (min-width: 375px) and (max-width: 767px) {
.heading_sale_shock h2 a img {
	width: 36px;
	margin-bottom: 0px
}
}
.heading_sale_shock h2 a span {
	display: inline-block;
	font-size: 28px
}

@media (max-width: 374px) {
.heading_sale_shock h2 a span {
	font-size: 17px
}
}

@media (min-width: 375px) and (max-width: 767px) {
.heading_sale_shock h2 a span {
	font-size: 18px
}
}
.heading_sale_shock span.title_sum {
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 0px 140px;
	color: #7b8395;
	margin-bottom: 45px
}

@media (max-width: 374px) {
.heading_sale_shock span.title_sum {
	padding: 0px;
	margin-bottom: 30px
}
}

@media (min-width: 375px) and (max-width: 767px) {
.heading_sale_shock span.title_sum {
	padding: 0 30px;
	margin-bottom: 30px
}
}

@media (max-width: 767px) {
.sec_slider {
	padding: 0px !important
}
}
.slider_ {
	float: left;
	width: 100%;
	position: relative
}

@media (max-width: 767px) {
.slider_ {
	padding-left: 15px
}
}
.owl-carousel.owl-loaded {
	display: block !important
}
.mega-content .item_blog_big h3 {
	font-size: 13px;
	font-weight: 600;
	text-align: left;
	color: #252525
}
.mega-content .item_blog_big h3:hover {
	cursor: pointer;
	color: #e7b45a !important
}
.section_about {
	color: #707070
}
.section_about .module_left {
	padding: 130px 0 165px 0
}

@media (max-width: 991px) {
.section_about .module_left {
	padding: 50px 0
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.section_about .module_left {
	padding: 80px 0
}
}
.section_about .module_left .heading {
	float: left;
	width: 100%
}
.section_about .module_left .heading span {
	padding-bottom: 15px;
	float: left;
	width: 100%
}
.section_about .module_left .day_time {
	position: relative;
	margin-bottom: 50px;
	float: left;
	width: 100%
}
.section_about .module_left .day_time:before {
	position: absolute;
	content: "";
	top: 40px;
	left: 50%;
	width: 52%;
	height: 1px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-os-transform: translate(-50%, -50%);
	border-bottom: 1px dashed #c2c2c2
}

@media (max-width: 767px) {
.section_about .module_left .day_time:before {
	width: 90%;
	top: 65px
}
}
.section_about .module_left a {
	font-weight: bold;
	color: #707070
}
.section_about .module_left a:hover {
	color: #e7b45a
}
.section_about .module_right {
	padding: 95px 0
}

@media (max-width: 991px) {
.section_about .module_right {
	padding: 0 0 60px 0
}
}
.section_menu_today {
	background-image: url("images/bg_menutoday.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	padding: 90px 0 80px 0;
	background-size: cover;
	position: relative
}

@media (max-width: 767px) {
.section_menu_today {
	background-image: unset;
	background-color: #f5f2eb
}
}
.section_menu_today .heading {
	float: left;
	width: 100%;
	text-align: center
}
.section_menu_today .heading .mini_title {
	float: left;
	width: 100%;
	margin-top: 5px
}
.section_menu_today .tab_link_module .tab_border {
	margin-top: 40px;
	height: 50px;
	line-height: 50px;
	position: relative
}

@media (max-width: 1199px) {
.section_menu_today .tab_link_module .tab_border {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb
}
}
.section_menu_today .tab_link_module .tab_border.v2_details {
	height: unset
}
.section_menu_today .tab_link_module .tab_border .button_show_tab {
	font-size: 24px;
	color: #e7b45a;
	position: absolute;
	right: 15px;
	top: 0
}
.section_menu_today .tab_link_module .tab_border .title_check_tabs {
	font-size: 14px;
	text-transform: uppercase;
	line-height: 50px;
	text-decoration: none;
	color: #e7b45a;
	font-weight: bold;
	display: block;
	cursor: pointer;
	text-align: center
}
.section_menu_today .tab_link_module .tab_border .ul_link {
	text-align: center;
	width: 100%;
	float: left
}

@media (max-width: 991px) {
.section_menu_today .tab_link_module .tab_border .ul_link {
	display: none;
	position: absolute;
	width: 220px;
	padding: 0px;
	right: 15px;
	z-index: 9999;
	top: 50px;
	background: #fff;
	box-shadow: 0px 1px 24px 0px rgba(0,0,0,0.16);
	-o-box-shadow: 0px 1px 24px 0px rgba(0,0,0,0.16);
	-os-box-shadow: 0px 1px 24px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 1px 24px 0px rgba(0,0,0,0.16);
	-webkit-box-shadow: 0px 1px 24px 0px rgba(0,0,0,0.16);
	padding: 10px 0px
}
.section_menu_today .tab_link_module .tab_border .ul_link li {
	padding: 0px 15px;
	display: block !important;
	text-align: left
}
.section_menu_today .tab_link_module .tab_border .ul_link li a {
	cursor: pointer;
	margin-right: 0px !important;
	line-height: 35px !important
}
}
.section_menu_today .tab_link_module .tab_border .ul_link li {
	display: inline-block;
*display:inline;
*zoom:1
}
.section_menu_today .tab_link_module .tab_border .ul_link li a {
	font-size: 15px;
	text-transform: none;
	line-height: 45px;
	text-decoration: none;
	margin-right: 10px;
	color: #1f1f1f;
	font-weight: 400;
	padding: 0 20px;
	display: block;
	cursor: pointer;
	border-radius: 30px;
	border: 1px solid rgba(167,136,105,0.2)
}

@media (max-width: 991px) {
.section_menu_today .tab_link_module .tab_border .ul_link li a {
	color: #252525;
	background: unset !important;
	border: none !important;
	padding: 0 !important
}
}
.section_menu_today .tab_link_module .tab_border .ul_link li a.active {
	background: #e7b45a;
	border: 1px solid transparent;
	color: #fff
}

@media (max-width: 991px) {
.section_menu_today .tab_link_module .tab_border .ul_link li a.active {
	color: #e7b45a;
	background: unset !important;
	border: none !important
}
}
.section_menu_today .tabs-content {
	margin-top: 40px
}

@media (min-width: 992px) {
.section_menu_today .tabs-content .clear_:nth-child(2n+1) {
	clear: left
}
}
.section_menu_today .view_more_cls {
	font-size: 15px;
	text-transform: none;
	line-height: 45px;
	text-decoration: none;
	margin-top: 10px;
	color: #1f1f1f;
	font-weight: 400;
	padding: 0 30px;
	display: inline-block;
	cursor: pointer;
	border-radius: 30px;
	border: 1px solid rgba(167,136,105,0.2)
}
.section_menu_today .view_more_cls:hover {
	background: #e7b45a;
	border: 1px solid transparent
}
.section_gallery {
	padding: 90px 0;
	position: relative
}

@media (max-width: 991px) {
.section_gallery {
	padding: 50px 0
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.section_gallery {
	padding: 90px 0 30px 0
}
}
.section_gallery .heading h2 {
	text-align: center;
	margin-bottom: 40px
}

@media (max-width: 767px) {
.section_gallery .content_right {
	margin-top: 30px
}
}
.section_gallery .al-item {
	position: relative;
	text-align: center
}
.section_gallery .al-item.al-item-min:hover:before {
	width: 100%
}
.section_gallery .al-item a {
	display: none;
	width: 64px;
	height: 64px;
	background: #fff;
	border-radius: 50%;
	line-height: 68px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%)
}

@media (max-width: 991px) {
.section_gallery .al-item a {
	width: 34px;
	height: 34px;
	line-height: 36px
}
}
.section_gallery .al-item a .fa {
	font-size: 24px
}

@media (max-width: 991px) {
.section_gallery .al-item a .fa {
	font-size: 16px
}
}
.section_gallery .al-item:hover a {
	display: block;
	z-index: 99
}
.section_gallery .al-item:hover:before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0px
}
.ekko-lightbox .modal-content {
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: 0;
	box-shadow: none
}
.ekko-lightbox .modal-header {
	padding: 0px;
	border: none;
	height: 0px
}
.ekko-lightbox .modal-header h4 {
	font-size: 0px
}
.ekko-lightbox .modal-body {
	padding: 0px
}
.section_feedback .heading {
	text-align: center;
	margin-bottom: 50px
}

@media (max-width: 1199px) {
.section_feedback .heading {
	margin-bottom: 40px
}
}
.section_feedback .owl-dots {
	display: none
}
.thumb_side {
	position: relative;
	width: 100%;
	top: 0;
	padding: 0 340px;
	float: left;
	transform: none;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
	margin-bottom: 30px;
	padding-bottom: 40px !important
}

@media (max-width: 767px) {
.thumb_side {
	padding: 0 40px 0 30px
}
}

@media (min-width: 767px) and (max-width: 991px) {
.thumb_side {
	padding: 0 145px
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.thumb_side {
	padding: 0 250px
}
}
.thumb_side .owl-stage-outer {
	overflow: visible
}
.thumb_side .owl-item {
	float: left
}
.thumb_side .owl-item.current .thumb_small a {
	border-radius: 50%;
	border: 2px solid #e7b45a
}
.thumb_side .thumb_small a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: solid 2px transparent;
	height: 63px;
	width: 63px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
	border-radius: 50%
}

@media (max-width: 414px) {
.thumb_side .thumb_small a {
	width: 43px;
	height: 43px
}
}
.thumb_side .thumb_small a img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: 100%;
	border-radius: 50%
}
.owl_danhgia {
	padding: 0 105px
}

@media (max-width: 767px) {
.owl_danhgia {
	padding: 0px
}
}
.owl_danhgia .owl-item .item .img_large {
	display: block;
	position: relative;
	max-width: 150px;
	max-height: 150px;
	text-align: center;
	margin: 0 auto
}
.owl_danhgia .owl-item .item .img_large img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	border-radius: 50%;
	margin-left: 0px
}
.owl_danhgia .owl-item .item .content_thumb_bb .title_module_main {
	display: block;
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: #252525;
	font-size: 24px;
	padding-bottom: 0px;
	text-transform: uppercase;
	padding-top: 45px
}
.owl_danhgia .owl-item .item .content_thumb_bb .content_danhgia {
	text-align: center
}
.owl_danhgia .owl-item .item .content_thumb_bb .content_danhgia span {
	font-weight: 600;
	font-family: "Oswald", sans-serif;
	color: #252525;
	float: left;
	display: block;
	width: 100%;
	margin: 0;
	font-size: 16px;
	text-transform: uppercase
}
.owl_danhgia .owl-item .item .content_thumb_bb p {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #707070;
	display: block;
	display: block;
	margin-top: 15px;
	padding: 0;
	width: 100%;
	padding: 0 100px;
	padding-top: 35px;
	position: relative
}

@media (max-width: 767px) {
.owl_danhgia .owl-item .item .content_thumb_bb p {
	padding: 0px
}
}
.owl_danhgia .owl-item .item .content_thumb_bb p:before {
	content: "";
	position: absolute;
	background-image: url("images/icon_kh.png");
	background-repeat: no-repeat;
	width: 55px;
	height: 38px;
	top: 17px;
	left: 0px
}

@media (max-width: 767px) {
.owl_danhgia .owl-item .item .content_thumb_bb p:before {
	top: -15px
}
}
.owl_danhgia .owl-item .item .content_thumb_bb p:after {
	content: "";
	position: absolute;
	background-image: url("images/icon_kh2.png");
	background-repeat: no-repeat;
	width: 55px;
	height: 38px;
	bottom: 17px;
	right: 0px
}

@media (max-width: 767px) {
.owl_danhgia .owl-item .item .content_thumb_bb p:after {
	bottom: -15px
}
}
.owl_danhgia .owl-nav {
	display: none
}
.section_hours_book {
	margin-top: 105px;
	padding: 110px 0;
	background-image: url("images/bg_hours_book.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center
}

@media (max-width: 1199px) {
.section_hours_book {
	margin-top: 55px
}
}

@media (max-width: 991px) {
.section_hours_book {
	background-position: center;
	padding: 0;
	background-color: #f5f6f7;
	background-image: unset
}
}
.section_hours_book .heading h2:before, .section_hours_book .heading h2:after {
	content: none
}
.section_hours_book h2 {
	color: #e7b45a;
	text-align: center
}
.section_hours_book p {
	font-size: 20px;
	color: #252525
}
.section_hours_book input {
	height: 60px;
	background-color: rgba(255,255,255,0.122) !important;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #fff !important;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 16px;
	padding-bottom: 15px;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400
}
.section_hours_book input::-webkit-input-placeholder {
color:#fff
}
.section_hours_book input::-moz-placeholder {
color:#fff
}
.section_hours_book input:-ms-input-placeholder {
color:#fff
}
.section_hours_book .content_left {
	text-align: center;
	margin-top: 55px
}
.section_hours_book .content_left .content_hour {
	float: left;
	width: 100%;
	margin-top: 20px
}
.section_hours_book .content_left .content_hour .option_1, .section_hours_book .content_left .content_hour .option_2 {
	font-size: 15px;
	color: #252525;
	margin: 0;
	float: left;
	width: 100%
}
.section_hours_book .content_left .content_hour .option_2 {
	margin-top: 30px;
	float: left;
	width: 100%
}
.section_hours_book .content_left .content_hour span {
	font-size: 15px;
	color: #707070;
	float: left;
	width: 100%
}
.section_hours_book .content_left .hotline_hour {
	float: left;
	width: 100%;
	margin-top: 45px;
	position: relative
}

@media (max-width: 767px) {
.section_hours_book .content_left .hotline_hour {
	margin-bottom: 40px
}
}
.section_hours_book .content_left .hotline_hour:before {
	content: "";
	position: absolute;
	width: 50%;
	border-top: 1px dashed #ccc;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-os-transform: translate(-50%, -50%);
	padding-bottom: 45px
}
.section_hours_book .content_left .hotline_hour .sdt {
	font-size: 16px
}
.section_hours_book .content_left .hotline_hour a {
	font-size: 36px;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
	color: #e7b45a;
	letter-spacing: 2px
}
.section_hours_book .content_left .hotline_hour a:hover {
	color: #e1a02d
}
.section_hours_book .to_animate {
	z-index: 999;
	background: #e7b45a;
	padding: 55px 105px 60px 105px
}

@media (max-width: 991px) {
.section_hours_book .to_animate {
	padding: 55px 15px
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.section_hours_book .to_animate {
	padding: 55px 30px
}
}
.section_hours_book .to_animate .heading {
	margin-bottom: 40px
}
.section_hours_book .to_animate .heading h2 {
	color: #fff
}
.section_hours_book .to_animate .heading span {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #fff
}
.section_hours_book .to_animate .wide_button {
	background: #fff;
	color: #252525;
	padding: 0 25px;
	height: 55px;
	line-height: 55px
}
.section_hours_book .to_animate .wide_button:hover {
	background: #fff;
	border: 1px solid #fff;
	color: #fff
}
.section_hours_book .form-builder-item {
	margin-bottom: 0px !important;
	margin-top: 10px
}
.section_hours_book .form-builder-item.hour_check select {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	background: transparent;
	background-color: transparent !important;
	color: #fff;
	border: none
}
.section_hours_book .form-builder-item.hour_check .form-group .form-control {
	font-size: 0
}
.section_hours_book .form-builder-item .form-group {
	position: relative
}
.section_hours_book .form-builder-item .form-group .color2 {
	position: absolute;
	font-size: 14px;
	left: 27px;
	top: 23px;
	width: 14px;
	text-align: center
}
.section_hours_book .form-builder-item .form-group .form-control {
	padding-left: 20px;
	background: transparent
}
.section_hours_book .form-builder-item .form-group .form-control::-webkit-input-placeholder {
color:#fff
}
.section_hours_book .form-builder-item .form-group .form-control::-moz-placeholder {
color:#fff
}
.section_hours_book .form-builder-item .form-group .form-control:-ms-input-placeholder {
color:#fff
}
.section_hours_book .form-builder-item .form-group .fas {
	position: absolute;
	top: 22px;
	right: 20px;
	color: #fff;
	cursor: pointer;
	z-index: 0
}
.section_hours_book .form-builder-item .mes textarea {
	padding-top: 18px
}
.section_hours_book .form-builder-item .mes textarea::-webkit-input-placeholder {
color:#252525
}
.section_hours_book .form-builder-item .mes textarea::-moz-placeholder {
color:#252525
}
.section_hours_book .form-builder-item .mes textarea:-ms-input-placeholder {
color:#252525
}
.hour_style .form-control {
	background: transparent;
	height: 60px;
	line-height: 38px;
	width: 100%;
	padding: 0 !important
}
.hour_style .form-control select {
	background: transparent !important;
	border: none;
	color: #fff;
	display: inline-block;
	background-image: unset;
	width: 100%;
	padding-left: 50px;
	padding-top: 0px;
	height: 60px;
	position: relative
}
.hour_style .form-control select:after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f107";
	color: #fff;
	position: absolute;
	width: 14px;
	height: 14px;
	line-height: 14px;
	top: 0px;
	font-size: 14px;
	left: 1px
}
#datlich_thanhcong {
	padding-right: 0px !important
}
#datlich_thanhcong h2 {
	margin-bottom: 0
}
#datlich_thanhcong .wrap-modal-dv {
	background: #fff;
	padding: 20px;
	text-align: center
}
#datlich_thanhcong .wrap-modal-dv .modal-title {
	z-index: 999
}
#datlich_thanhcong .modal-content {
	box-shadow: none;
	border: none
}
.section_blog {
	margin: 100px 0 40px 0
}

@media (max-width: 991px) {
.section_blog {
	margin: 40px 0 0 0
}
}
.section_blog .owl-nav, .section_blog .owl-dots {
	display: none
}
.section_blog h2 {
	margin-bottom: 50px
}
.section_blog h2 a {
	color: #e7b45a
}
.ui-datepicker-header {
	position: relative
}
.ui-datepicker table tr td a.ui-state-active, .ui-datepicker table tr td a:hover, .ui-datepicker table tr td.tourmaster-highlight a, .ui-datepicker table tr td.tourmaster-highlight span {
	background: #e1a02d;
	color: #fff
}
.ui-datepicker select {
	color: #485da1
}
.ui-datepicker {
	background-color: #f5f5f5
}
.ui-datepicker {
	border-color: #ebebeb
}
.ui-datepicker table tr th {
	color: #808080
}
.ui-datepicker table tr td a, .ui-datepicker-prev, .ui-datepicker-next {
	background-color: #ffffff
}
.ui-datepicker table tr td a, .ui-datepicker-prev, .ui-datepicker-next {
	color: #5b5b5b
}
.ui-datepicker table tr td a.ui-state-disable {
	color: #c0c0c0
}
.ui-datepicker-prev.ui-state-disabled, .ui-datepicker-next.ui-state-disabled, .ui-datepicker table tr td {
	color: #c0c0c0
}
.ui-datepicker-prev, .ui-datepicker-next {
	position: absolute;
	top: 0px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	cursor: pointer
}
.ui-datepicker-prev span, .ui-datepicker-next span {
	display: none
}
.ui-datepicker-next {
	right: 0px
}
.ui-datepicker-prev:after {
	content: "\f104";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900
}
.ui-datepicker-next:after {
	content: "\f105";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900
}
.ui-datepicker {
	width: 272px !important;
	border-width: 2px;
	border-style: solid;
	padding: 8px;
	display: none;
	background: #fff
}
.ui-datepicker-calendar {
	background: #fff
}
.ui-datepicker .ui-datepicker-title {
	padding-left: 38px;
	padding-right: 38px
}
.ui-datepicker .ui-datepicker-month, .ui-datepicker .ui-datepicker-year, .ui-datepicker-year {
	width: 48%;
	margin: 0px 1%;
	border: none;
	height: 36px;
	padding: 0px 8px;
	font-weight: 500;
	color: #e7b45a;
	background: #fff;
	float: left;
	background-image: url(ico-select.png) !important;
	background-repeat: no-repeat;
	background-position: right 10px center
}
.ui-datepicker table {
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom: 10px
}
.ui-datepicker table tr {
	background: transparent;
	color: #949494;
	padding: 0
}
.ui-datepicker table tr th {
	color: #808080;
	background: transparent;
	font-size: 13px;
	padding: 16px 0px 10px;
	text-align: center;
	font-weight: normal;
	border: none
}
.ui-datepicker table td {
	padding: 0px 0px 5px;
	line-height: 1;
	text-align: center;
	color: #c0c0c0;
	border: none
}
.ui-datepicker table td a, .ui-datepicker table td .ui-state-default {
	color: #5b5b5b;
	background-color: #ffffff;
	width: 32px;
	height: 32px;
	font-size: 13px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%
}
.ui-datepicker table td.ui-state-disabled .ui-state-default {
	background-color: #e9e9e9
}
.ui-datepicker table td.ui-datepicker-today a {
	color: #fff;
	background-color: #e7b45a !important
}
.ui-datepicker table td a:hover, .ui-datepicker table td a:focus {
	color: #fff;
	background-color: #e7b45a !important
}
.line-item-property__field {
	margin-bottom: 20px
}
.line-item-property__field .input-group {
	width: 50%;
	float: left;
	margin-right: 0px
}
.line-item-property__field .input-group select {
	height: 45px;
	border-left: 0
}
.line-item-property__field .input-group span.input-group-addon {
	border: 1px solid #e1e1e1;
	border-left: none;
	background: none;
	border-radius: 0
}
.line-item-property__field .tourmaster-datepicker {
	margin-bottom: 0;
	border-right: none;
	height: 45px
}

@media (max-width: 375px) {
.line-item-property__field .tourmaster-datepicker {
	padding: 0 12px
}
}
.ui-widget-header {
	border: none;
	background: none
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: 1
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
	border-color: #e7b45a
}
