


<div class="content-wrapper">
    <!-- Content -->
    <h3 class="card-header  text-center"><b>XÓA BỎ SỐ LƯỢNG SẢN PHẨM</b></h3>
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Bootstrap Table -->
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="2%">STT</th>
                            <th>Tiêu đề</th>
                            <th>Mô tả</th>
                            <th>Giá bán</th>
                            <th>Hình ảnh</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody class=" _RenderItem table-border-bottom-0">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->
        <!-- / Content -->
    </div>
</div>
<!-- / Layout page -->
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $(document).ready(function () {
        loadData();
    });

    //Load Data function
    function loadData() {
        $.ajax({
            url: "/BProduct/ListProduct",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += `<tr>
                            <td>${key+1}</td>
                            <td><input class="form-control" type="text" id="${"title"}${item.Id}" value="${item.title}" /></td>
                            <td><textarea class="form-control" id="${"description"}${item.Id}" rows="4" cols="auto">${item.description}</textarea>
                            </td>
                            <td><input class="form-control" type="text" id="${"price"}${item.Id}" value="${item.price}" /></td>
                            <td><input class="form-control" type="image" id="${"image"}${item.Id}" src="${item.image}" /></td>
                            <td><button class="btn btn-danger" onclick="return Delete(${item.Id})" >Xóa bỏ</button></td>
                        </tr>`;
                });
                $('._RenderItem').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function Delete(Id) {
        //var res = validate();
        //if (res == false) {
        //    return false;
        //}
        $.ajax({
            url: "/BProduct/DeleteProduct/" + Id,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                loadData();

                if (result = 1) {
                    alert("Thành công");
                } else {
                    alert("Không thành công");
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>