


<div class="content-wrapper">
    <!-- Content -->
    <h3 class="card-header  text-center"><b>HIỂN THỊ SỐ LƯỢNG SẢN PHẨM</b></h3>
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Bootstrap Table -->
        <div class="card" style="width: 1366px">
            <div class="table-responsive text-nowrap" >
                <table class="table">
                    <thead>
                        <tr>
                            <th width="2%">STT</th>
                            <th>Tiêu đề</th>
                            <th>Mô tả</th>
                            <th>Giá bán</th>
                            <th>Hình ảnh</th>
                            <th>Danh mục</th>
                        </tr>
                    </thead>
                    <tbody class=" _RenderItem table-border-bottom-0">
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->
        <!-- / Content -->
    </div>
</div>
<!-- / Layout page -->
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    var OptionCombox = [];
    $(document).ready(function () {
        LoadCombox();
        loadData();
    });

    function LoadCombox() {
        $.ajax({
            url: "/BProduct/ListCategory",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (key, item) {
                    OptionCombox.push({ code: item.codecategory, title: item.title });
                });
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    //Load Data function
    function loadData() {
        $.ajax({
            url: "/BProduct/ListProduct",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += `<tr>
                                <td>${key + 1}</td>
                                <td><input class="form-control" type="text" id="${"title"}${item.Id}" value="${item.title}" /></td>
                                <td><textarea class="form-control" id="${"description"}${item.Id}" rows="4" cols="auto">${item.description}</textarea>
                                </td>
                                <td><input class="form-control" type="text" id="${"price"}${item.Id}" value="${item.price}" /></td>
                                <td>
                                <img style="width: 50%;" class="form-control" id="${"image"}${item.Id}" src="/Content/Image_web/${item.image}" />
                                </td>
                                <td>
                                            <select class="form-select" id="${"category"}${item.Id}" aria-label="Default select example">
                                `;

                    $.each(OptionCombox, function (i, itemCombo) {
                        if (itemCombo.code == item.category)
                            html += '<option selected value="' + itemCombo.code + '">' + itemCombo.title + '</option>';
                        else html += '<option value="' + itemCombo.code + '">' + itemCombo.title + '</option>';
                    });

                    html += `</select>
                                    </td>
                                    <td><button class="btn btn-success" onclick="return Update(${item.Id})" >Cập nhật</button></td>
                                </tr>`;
                });
                ///*<input class="form-control" type="text" id="${"category"}${item.Id}" value="${item.category}" />*/
                $('._RenderItem').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>