<script src="~/Scripts/jquery-3.4.1.js"></script>
<section id="site-main-hl">
    <br />
    <br />
    <div class="breadcrumb_nobackground" style="margin-bottom: -20px;">
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <p id="breadcrumbs" class="breadcrumb"><span><span><a href="/">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Giỏ hàng</span></span></span></p>
            </div>
        </section>
    </div>
    <section class="page">
        <div class="container">
            <article class="type-page status-publish hentry">
                <div class="page-title category-title">
                    <h1 class="title-head">Giỏ hàng</h1>
                </div>

                <div class="entry-content content-page rte">
                    <div class="woocommerce">
                        <div class="woocommerce-notices-wrapper"></div>
                        <form class="woocommerce-cart-form" action="http://at08.chonweb.vn/gio-hang/" method="post">

                            <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-subtotal">Tạm tính</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="woocommerce-cart-form__cart-item cart_item">

                                        <td class="product-remove">
                                            <a href="http://at08.chonweb.vn/gio-hang/?remove_item=274ad4786c3abca69fa097b85867d9a4&amp;_wpnonce=dc8f3845e6" class="remove" aria-label="Xóa sản phẩm này" data-product_id="204" data-product_sku="">×</a>
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href="http://at08.chonweb.vn/san-pham/ca-phe-espresso-con-panda/"><img width="300" height="300" src="Asset/p-7-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="http://at08.chonweb.vn/wp-content/uploads/2020/06/p-7-300x300.jpg 300w, http://at08.chonweb.vn/wp-content/uploads/2020/06/p-7-150x150.jpg 150w, http://at08.chonweb.vn/wp-content/uploads/2020/06/p-7-100x100.jpg 100w, http://at08.chonweb.vn/wp-content/uploads/2020/06/p-7.jpg 600w" sizes="100vw"></a>
                                        </td>

                                        <td class="product-name" data-title="Sản phẩm">
                                            <a href="http://at08.chonweb.vn/san-pham/ca-phe-espresso-con-panda/">Cà phê Espresso con panda</a>
                                        </td>

                                        <td class="product-price" data-title="Giá">
                                            <span class="woocommerce-Price-amount amount">85.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                        </td>

                                        <td class="product-quantity" data-title="Số lượng">
                                            <div class="quantity">
                                                <label class="screen-reader-text" for="quantity_6355aabb00d33">Cà phê Espresso con panda số lượng</label>
                                                <input type="number" id="quantity_6355aabb00d33" class="input-text qty text" step="1" min="0" max="" name="cart[274ad4786c3abca69fa097b85867d9a4][qty]" value="1" title="SL" size="4" placeholder="" inputmode="numeric">
                                            </div>
                                        </td>

                                        <td class="product-subtotal" data-title="Tạm tính">
                                            <span class="woocommerce-Price-amount amount">85.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                        </td>
                                    </tr>
                                    <tr class="woocommerce-cart-form__cart-item cart_item">

                                        <td class="product-remove">
                                            <a href="http://at08.chonweb.vn/gio-hang/?remove_item=3644a684f98ea8fe223c713b77189a77&amp;_wpnonce=dc8f3845e6" class="remove" aria-label="Xóa sản phẩm này" data-product_id="200" data-product_sku="">×</a>
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href="http://at08.chonweb.vn/san-pham/ca-phe-the-caipirinha/"><img width="300" height="300" src="Asset/p-5-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="http://at08.chonweb.vn/wp-content/uploads/2020/06/p-5-300x300.jpg 300w, http://at08.chonweb.vn/wp-content/uploads/2020/06/p-5-150x150.jpg 150w, http://at08.chonweb.vn/wp-content/uploads/2020/06/p-5-100x100.jpg 100w, http://at08.chonweb.vn/wp-content/uploads/2020/06/p-5.jpg 600w" sizes="100vw"></a>
                                        </td>

                                        <td class="product-name" data-title="Sản phẩm">
                                            <a href="http://at08.chonweb.vn/san-pham/ca-phe-the-caipirinha/">Cà phê The Caipirinha</a>
                                        </td>

                                        <td class="product-price" data-title="Giá">
                                            <span class="woocommerce-Price-amount amount">150.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                        </td>

                                        <td class="product-quantity" data-title="Số lượng">
                                            <div class="quantity">
                                                <label class="screen-reader-text" for="quantity_6355aabb0365c">Cà phê The Caipirinha số lượng</label>
                                                <input type="number" id="quantity_6355aabb0365c" class="input-text qty text" step="1" min="0" max="" name="cart[3644a684f98ea8fe223c713b77189a77][qty]" value="1" title="SL" size="4" placeholder="" inputmode="numeric">
                                            </div>
                                        </td>

                                        <td class="product-subtotal" data-title="Tạm tính">
                                            <span class="woocommerce-Price-amount amount">150.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </form>


                        <div class="cart-collaterals">
                            <div class="cart_totals ">


                                <h2>Cộng giỏ hàng</h2>

                                <table cellspacing="0" class="shop_table shop_table_responsive">

                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Tạm tính</th>
                                            <td data-title="Tạm tính"><span class="woocommerce-Price-amount amount">235.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></td>
                                        </tr>






                                        <tr class="order-total">
                                            <th>Tổng</th>
                                            <td data-title="Tổng"><strong><span class="woocommerce-Price-amount amount">235.000&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></strong> </td>
                                        </tr>


                                    </tbody>
                                </table>

                                <div class="wc-proceed-to-checkout">

                                    <a href="http://at08.chonweb.vn/thanh-toan/" class="checkout-button button alt wc-forward">
                                        Tiến hành thanh toán
                                    </a>
                                </div>


                            </div>
                        </div>

                    </div>
                </div><!-- .entry-content -->
            </article><!-- #post-## -->
        </div>
        <!-- .wrap -->

    </section><!-- #site-main-hl -->
</section>