<script src="~/Scripts/jquery-3.4.1.js"></script>
<section id="site-main-hl">
    <br />
    <br />
    <br />
    <br />
    <div class="breadcrumb_nobackground" style="margin-bottom: -20px;">
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <p id="breadcrumbs" class="breadcrumb"><span><span><a href="/">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Giỏ hàng</span></span></span></p>
            </div>
        </section>
    </div>
    <section class="page">
        <div class="container">
            <article class="type-page status-publish hentry">
                <div class="page-title category-title">
                    <h1 class="title-head">Giỏ hàng</h1>
                </div>

                <div class="entry-content content-page rte">
                    <div class="woocommerce">
                        <div class="woocommerce-notices-wrapper"></div>
                        <div class="woocommerce-cart-form" action="" method="post">
                            <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">Hình ảnh</th>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-subtotal">Tạm tính</th>
                                    </tr>
                                </thead>
                                <tbody class=" _RenderItem table-border-bottom-0">
                                </tbody>
                            </table>
                        </div>

                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>Cộng giỏ hàng</h2>
                                <table cellspacing="0" class="shop_table shop_table_responsive">

                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Tạm tính</th>
                                            <td data-title="Tạm tính"><span class="woocommerce-Price-amount amount"><span id="tinhtam"></span>&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Tổng</th>
                                            <td data-title="Tổng"><strong><span class="woocommerce-Price-amount amount"><span id="tinhtong"></span>&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a href="/Fhome/ConductingPayment" class="checkout-button button alt wc-forward">
                                        Tiến hành thanh toán
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- .entry-content -->
            </article><!-- #post-## -->
        </div>
        <!-- .wrap -->

    </section><!-- #site-main-hl -->
</section>
<script src="~/Content/Notify/jquery.min.js"></script>
<script src="~/Content/Notify/notify.min.js"></script>
<link rel="stylesheet" href="~/Content/Notify/notify-metro.css" />

<script type="text/javascript">
    function notify() {
        $.notify("Đã thêm vào giỏ hàng", "success");
    }
</script>
<script>
    function Loaddata() {
        const data = localStorage.getItem("CartItems");
        var html = '';
        var total = 0;
        var i = 0;
        $.each(JSON.parse(data), function (key, item) {

            html += `
                <tr class="woocommerce-cart-form__cart-item cart_item">
                    <td class="product-remove">
                        <a onclick="RemoveCartItem(${i})" href="#" class="remove" aria-label="Xóa sản phẩm này" data-product_sku="">×</a>
                    </td>
                    <td class="product-thumbnail">
                        <a href="Productdetails/${item.Id_product}"><img width="300" height="300" src="${item.image_category}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""></a>
                    </td>
                    <td class="product-name" data-title="Sản phẩm">
                        <a href="Productdetails/${item.Id_product}">${item.title_category}</a>
                    </td>
                    <td class="product-price" data-title="Giá">
                        <span class="woocommerce-Price-amount amount">${item.Price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                    </td>
                    <td class="product-quantity" data-title="Số lượng">
                        <div class="quantity">
                            <span for="quantity_6355aabb00d33">${item.Quantity}</span>
                        </div>
                    </td>
                    <td class="product-subtotal" data-title="Tạm tính">
                        <span class="woocommerce-Price-amount amount">${(item.Price * item.Quantity).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}&nbsp;<span class="woocommerce-Price-currencySymbol">₫</span></span>
                    </td>
                </tr>
        `;
            total += item.Price * item.Quantity;
            i = i + 1;
        });

        $('._RenderItem').html(html);
        $('#tinhtam').html(total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
        $('#tinhtong').html(total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));

        var buyCartNumber = localStorage.getItem('count_buycart');
        console.log(buyCartNumber);
        if (buyCartNumber == 0) {
            $('.wc-proceed-to-checkout').css('visibility', 'hidden');
        }
    }

    Loaddata();

    function RemoveCartItem(id) {
        $.notify("Đã xóa sản phẩm ra giỏ hàng", "success");
        const data = localStorage.getItem("CartItems");
        var removeCart = JSON.parse(data);
        removeCart.splice(id, 1);

        var buyCartNumber = localStorage.getItem('count_buycart');
        buyCartNumber = parseInt(buyCartNumber) - 1;
        $("#count_buycart").html("");
        $("#count_buycart").append(buyCartNumber);
        localStorage.setItem('count_buycart', buyCartNumber);

        localStorage.setItem("CartItems", JSON.stringify(removeCart));
        Loaddata();

    }
</script>