<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/MainJS/Products.js"></script>
<section id="site-main-hl">
    <div id="primary" class="content-area">
        <article id="post-2" class="twentyseventeen-panel  post-2 page type-page status-publish hentry">
            <section id="home_wooc_categories_sortable-3" class="widget home_wooc_categories_sortable">
                <section class="section_menu_today">
                    <div class="container">
                        <div class="row">
                            <div class="heading">
                                <h2 class="large_title">ĐANG CẬP NHẬT TIN TỨC</h2>
                                <span class="mini_title">Vui lòng xem TIN TỨC sau</span>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </article>
    </div>
</section>