<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/MainJS/Products.js"></script>
<section id="site-main-hl">
    <div id="primary" class="content-area">
        <article id="post-2" class="twentyseventeen-panel  post-2 page type-page status-publish hentry">
            <section id="home_wooc_categories_sortable-3" class="widget home_wooc_categories_sortable">
                <section class="section_menu_today" style="margin-bottom: 5%; margin-top: 7%;">
                    <div class="container">
                        <div class="row">
                            <div class="heading">
                                <h2 class="large_title">DỊCH VỤ</h2>
                                <span class="mini_title">Xem Dịch vụ ngay hôm nay</span>
                            </div>
                            <div class="entry-content content-page rte">
                                <div>
                                    <h2>1. Trà sữa truyền thống?</h2>
                                    <p>
                                        Trà sữa là loại trà được kết hợp giữa trà và sữa. Khi nhắc đến trà sữa thì người Việt chúng ta sẽ nghĩ ngay đến những ly trà sữa mát lạnh với những hạt trân châu dẻo ngọt. Tuy nhiên đây là dạng trà sữa mới được phát minh ra gần đây ở Đài Loan. Hay nói một cách thân thuộc là ‘trà sữa Đài Loan’.

                                        Trước trà sữa Đài Loan thì cũng đã có những loại trà sữa nổi tiếng khác. Ra đời sớm hơn chính là trà sữa của Anh Quốc. Trà sữa ra đời ở Anh vào khoảng thế kỷ thứ 17 hoặc 18. Vào thời gian này thì uống trà được xem là thú vui của tầng lớp quý tộc và thương nhân giàu có.

                                        Nhưng có một vấn đề là nước trà nóng khiến những tách trà sứ dễ bị vỡ do sức nóng. Nên lưu ý là đồ sứ vào thời gian này cực kỳ quý vì phải nhập từ Trung Quốc xa xôi. Thế nên người Anh đã nghĩ ra một cách. Đó chính là cho một ít sữa vào tách trà trước, rồi mới rót trà vào sau. Như vậy nước trà sẽ nguội hơn, còn trà cũng sẽ thơm ngon hơn do kết hợp cùng với sữa.

                                        Trà sữa từ Anh Quốc được xem tạo nên nền tảng cho các loại trà sữa nổi tiếng sau này. Từ trà sữa Đài Loan cho đến trà sữa Thái hay trà sữa Hong Kong. Thế nhưng bạn có biết rằng trà sữa đã xuất hiện từ hàng trăm năm trước khi trà xuất hiện ở Anh. Ở những đồng cỏ mênh mông của Mông Cổ.
                                    </p>
                                </div>
                                <div>
                                    <h2>2. Trà sữa Matcha?</h2>
                                    <p>Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ gồm nội dung kiểu “Nội dung, nội dung, nội dung” là nó khiến văn bản giống thật hơn, bình thường hơn. Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn bản giả, và nếu bạn thử tìm các đoạn “Lorem ipsum” trên mạng thì sẽ khám phá ra nhiều trang web hiện vẫn đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình, nhiều khi do cố ý (xen thêm vào những câu hài hước hay thông tục).</p>
                                </div>
                                <div>
                                    <h2>3. Trà sữa Ca cao?</h2>
                                    <p>Trái với quan điểm chung của số đông, Lorem Ipsum không phải chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác phẩm văn học la-tinh cổ điển xuất hiện từ năm 45 trước Công Nguyên, nghĩa là nó đã có khoảng hơn 2000 tuổi. Một giáo sư của trường Hampden-Sydney College (bang Virginia – Mỹ) quan tâm tới một trong những từ la-tinh khó hiểu nhất, “consectetur”, trích từ một đoạn của Lorem Ipsum, và đã nghiên cứu tất cả các ứng dụng của từ này trong văn học cổ điển, để từ đó tìm ra nguồn gốc không thể chối cãi của Lorem Ipsum. Thật ra, nó được tìm thấy trong các đoạn 1.10.32 và 1.10.33 của “De Finibus Bonorum et Malorum” (Đỉnh tối thượng của Cái Tốt và Cái Xấu) viết bởi Cicero vào năm 45 trước Công Nguyên. Cuốn sách này là một luận thuyết đạo lí rất phổ biến trong thời kì Phục Hưng. Dòng đầu tiên của Lorem Ipsum, “Lorem ipsum dolor sit amet…” được trích từ một câu trong đoạn thứ 1.10.32.</p>
                                    <p>Trích đoạn chuẩn của Lorem Ipsum được sử dụng từ thế kỉ thứ 16 và được tái bản sau đó cho những người quan tâm đến nó. Đoạn 1.10.32 và 1.10.33 trong cuốn “De Finibus Bonorum et Malorum” của Cicero cũng được tái bản lại theo đúng cấu trúc gốc, kèm theo phiên bản tiếng Anh được dịch bởi H. Rackham vào năm 1914.</p>
                                </div>
                                <div>
                                    <h2>4. Trà sữa Uống là Phê?</h2>
                                    <p>Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý nghĩa. Nếu bạn định sử dụng một đoạn Lorem Ipsum, bạn nên kiểm tra kĩ để chắn chắn là không có gì nhạy cảm được giấu ở giữa đoạn văn bản. Tất cả các công cụ sản xuất văn bản mẫu Lorem Ipsum đều được làm theo cách lặp đi lặp lại các đoạn chữ cho tới đủ thì thôi, khiến cho lipsum.com trở thành công cụ sản xuất Lorem Ipsum đáng giá nhất trên mạng. Trang web này sử dụng hơn 200 từ la-tinh, kết hợp thuần thục nhiều cấu trúc câu để tạo ra văn bản Lorem Ipsum trông có vẻ thật sự hợp lí. Nhờ thế, văn bản Lorem Ipsum được tạo ra mà không cần một sự lặp lại nào, cũng không cần chèn thêm các từ ngữ hóm hỉnh hay thiếu trật tự.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </article>
    </div>
</section>